In [1]:
import pandas as pd
# table=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
table=pd.read_html('https://bigcharts.marketwatch.com/markets/indexes.asp')
df = table[0]
df.to_csv('S&P500-Info.csv')
df.to_csv("S&P500-Symbols.csv", columns=['Symbol'])
df.to_csv("S&P500-Name.csv", columns=['Market Index'])

In [2]:
df

,Market Index,Symbol,As Of:,Last,Change,% Change,Go to:
0,Dow Jones Industrial Average,DJIA,12/3/20205:03 PM,29969.5200,85.73,+0.29%,NaN
1,Dow Jones Transportation Average,DJT,12/3/20205:03 PM,12586.8200,40.28,+0.32%,NaN
2,Dow Jones Utility Average Index,DJU,12/3/20205:03 PM,866.8900,-7.77,-0.89%,NaN
3,NASDAQ 100 Index (NASDAQ Calculation),NDX,12/3/20205:16 PM,12467.1290,10.72,+0.09%,NaN
4,NASDAQ Composite Index,COMP,12/3/20205:16 PM,12377.1815,27.82,+0.23%,NaN
5,NYSE Composite Index,NYA,12/3/20205:59 PM,14217.1847,28.94,+0.20%,NaN
6,S&P 500 Index,SPX,12/3/20205:03 PM,3666.7200,-2.29,-0.06%,NaN
7,S&P 400 Mid Cap Index,MID,12/3/20205:03 PM,2203.4800,11.61,+0.53%,NaN
8,S&P 100 Index,OEX,12/3/20204:03 PM,1682.2400,-2.78,-0.16%,NaN
9,NASDAQ Computer Index,IXCO,12/3/20205:16 PM,8521.3807,-9.25,-0.11%,NaN
10,PHLX Semiconductor Index,SOX,12/3/20205:16 PM,2716.1541,-0.20,-0.01%,NaN
11,PHLX Gold/Silver Index,XAU,12/3/20205:16 PM,139.6015,-1.04,-0.74%,NaN
12,NYSE Arca Oil Index,XOI,12/3/20205:59 PM,785.5105,8.83,+1.14%,NaN
13,Russell 2000 Index,RUT,12/3/20204:30 PM,1848.7018,10.67,+0.58%,NaN

In [47]:
fd = pd.read_csv("S&P500-Name.csv")['Market Index']
# lst = [fd[0], fd[4],fd[5],fd[6], fd[13]]
index_names = []

for idx in fd:
    if idx in lst:
for n in range(len(fd)):
    lst = [0,4,5,6,13]
    if n in lst:
        index_names.append(df.iloc[n][0])
index_names

IndentationError: expected an indented block (<ipython-input-47-8ed70d7d2acf>, line 7)

In [39]:
index_name = []
lst = [0,4,5,6,13]
for l in lst:
    index_name.append(fd[l])
index_name

['Dow Jones Industrial Average',
 'NASDAQ Composite Index',
 'NYSE Composite Index',
 'S&P 500 Index',
 'Russell 2000 Index']

In [40]:
index_names =[]
for i in index_name:
    lst = list(i)
    columns = lst
    col = [column.replace(' ', '_') for column in columns]
    string = ''
    for c in col:
        string += c
    # i = string
    index_names.append(string)
index_names

['Dow_Jones_Industrial_Average',
 'NASDAQ_Composite_Index',
 'NYSE_Composite_Index',
 'S&P_500_Index',
 'Russell_2000_Index']

In [3]:
index_names = []
index_tickers = []
for n in range(len(df)):
    lst = [0,4,5,6, 13]
    if n in lst:
        index_names.append(df.iloc[n][0])
        index_tickers.append(df.iloc[n][1])

In [4]:
index_names

['Dow Jones Industrial Average',
 'NASDAQ Composite Index',
 'NYSE Composite Index',
 'S&P 500 Index',
 'Russell 2000 Index']

In [11]:
index_tickers

['DJIA', 'COMP', 'NYA', 'SPX', 'RUT']

In [13]:
import yfinance as yf

yf.download('DJIA', period = '10y', interval = '1d', parse_dates = True, index_col=0)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-12-06,11381.330078,11422.660156,11313.599609,11362.190430,11362.190430,3527370000
2010-12-07,11363.849609,11507.269531,11327.679688,11359.160156,11359.160156,6970630000
2010-12-08,11354.450195,11441.620117,11281.429688,11372.480469,11372.480469,4607590000
2010-12-09,11370.440430,11449.370117,11293.769531,11370.059570,11370.059570,4522510000
2010-12-10,11370.440430,11446.650391,11326.009766,11410.320312,11410.320312,4547310000
...,...,...,...,...,...,...
2020-11-27,29911.330078,30015.130859,29819.980469,29910.369141,29910.369141,2778450000
2020-11-30,29854.509766,29854.509766,29463.640625,29638.640625,29638.640625,6291400000
2020-12-01,29797.500000,30083.310547,29797.500000,29823.919922,29823.919922,5403660000
2020-12-02,29695.089844,29902.509766,29599.289062,29883.789062,29883.789062,5029620000
2020-12-03,29920.830078,30110.880859,29877.269531,29969.519531,29969.519531,5091760000

In [46]:
string = ''
for i in index_tickers:
    string += (i + '_')
string

'DJIA_COMP_NYA_SPX_RUT_'

In [19]:
import yfinance as yf

yf.download('DJIA',period='1y',interval='1d')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-12-04,27634.630859,27727.449219,27612.080078,27649.779297,27649.779297,3695030000
2019-12-05,27736.050781,27745.199219,27562.800781,27677.789062,27677.789062,3355750000
2019-12-06,27839.679688,28035.849609,27839.679688,28015.060547,28015.060547,3479480000
2019-12-09,27987.050781,28010.419922,27906.140625,27909.599609,27909.599609,3345990000
2019-12-10,27900.650391,27949.019531,27804.000000,27881.720703,27881.720703,3343790000
...,...,...,...,...,...,...
2020-11-27,29911.330078,30015.130859,29819.980469,29910.369141,29910.369141,2778450000
2020-11-30,29854.509766,29854.509766,29463.640625,29638.640625,29638.640625,6291400000
2020-12-01,29797.500000,30083.310547,29797.500000,29823.919922,29823.919922,5403660000
2020-12-02,29695.089844,29902.509766,29599.289062,29883.789062,29883.789062,5029620000
2020-12-03,29920.830078,30110.880859,29877.269531,29969.519531,29969.519531,5091760000